  <div class="sidebar-box {{this.boxStyle}}">
    <div class="sidebar-heading">
        <h2>Looking for RP1 <i class="fa-solid fa-users"></i></h2>
          <div class="looking-for-rp">
            {{#each this.custom.looking_for_rp}}
              <LinkTo @route="char" @model={{this}}>{{this}}</LinkTo> {{#if @last}}&middot;{{/if}}
            {{/each}}
          </div>
    </div>
    <p></p>
  </div>