  <div class="sidebar-box {{this.boxStyle}}">
    <div class="sidebar-heading">
        <h2>Looking for RP <i class="fa-solid fa-users"></i></h2>
          <div class="looking-for-rp">
            {{#each this.custom.looking_for_rp as |char|}}
              <LinkTo @route="char" @model={{char.name}}>{{char.type_marker}}{{char.name}}</LinkTo>
            {{/each}}
            <p font-size: 75%;>Characters interested in a scene or text RP (#)</p>
          </div>
    </div>
    <p></p>
  </div>